@import "./tokens.css";

body {
  font-family: "Jost", sans-serif;
  background: var(--bakgrunn);
  color: var(--svart);
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
#main-nav {
  position: sticky;
  top: 0;
  z-index: 200;
  background: var(--nav);
  background-repeat: no-repeat;

  height: 100px;
  padding: 0 clamp(20px, 5vw, 60px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 24px rgba(0, 0, 0, 0.22);
}

.nav-logo img{
  width: auto;
  height:100px;
  margin-left: 5vw;
  border-radius: 5px;

}
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2px;
}
.nav-links li a {
  display: block;
  color: var(--tekst-nav);
  font-size: 1.3rem;
  font-weight: 400;

  padding: 10px 13px;
  border-radius: 4px;
  transition:
    background 0.18s,
    color 0.18s;
  white-space: nowrap;
}
.nav-links li a:hover {
  background: rgba(255, 255, 255, 0.09);
  color: var(--white);
}
.nav-links li a.active {
  color: var(--aktiv-link);
}