:root {
  --nav: #eb4233;
  --bakgrunn: #e9d8a6;
  --bakgrunn-2: #e9ddc1;
  --tekst-nav: #403332;
  --tittel: #bd1f21;
  --logo-tekst: #fcefea;
  --aktiv-link: #ee9b00;
  --mid: #5e6b62;
  --white: #f5f5f5;
}